= simple_form_for object, url: admin_banners_banner_toggle_path(object), method: :post do |f|
  %label
    - if @objects.where(active: true).count >= 1 && !object.active
      %label.switch
        %input{name: "object[active]", type: "hidden", value: "false"}
        %input{id: "switch-#{object.id}", :type => "checkbox"}
        %span.slider.round{onclick: "notPermission()"}
    - elsif object.active?
      %label.switch
        %input{name: "object[active]", type: "hidden", value: "false"}
        %input.active{id: "switch-#{object.id}", :type => "checkbox", checked: "checked"}
        %span.slider.round{onclick: "sendPermission('#{object.id}')"}
    - else
      %label.switch
        %input{name: "object[active]", type: "hidden", value: "true"}
        %input{id: "switch-#{object.id}", :type => "checkbox"}
        %span.slider.round{onclick: "sendPermission('#{object.id}')"}
:javascript
  function sendPermission(id) {
    $("#edit_banner_"+id).submit()
  }
  function notPermission(){
    Swal.fire({
      type: 'error',
      title: 'No pueden haber mas de 1 banners activos',
    })
  }
 